@media(min-width: 991px){
	.Header{
		width: 100%;
		height: 110px;
	}
	.Header-Top{
		width: 100%;
		height: 60px;
		background: linear-gradient(-45deg, #3c39f5, #c7cdfc);
	}
	.Header-Top-Search{
		width: 300px;
		height: 100%;
		float: right;
		border-left: 1px solid black;
		position: relative;
	}
	.Header-Top-Search-Text{
		position: absolute;
		top: 6px;
		left: 55px;
		font-size: 13px;
		color: white;
	}
	.Header-Top-Search-In{
		position: absolute;
		top: 25px;
		left: 55px;
		width: 200px;
		height: 24px;
		background-color: rgba(255, 255, 255, 0.8);
	}
	.Header-Top-Search-In input{
		border: none;
		width: 174px;
		height: 22px;
		font-size: 13px;
		float: left;
		background-color: rgba(255, 255, 255, 0.8);
	}
	.Header-Top-Search-In-SearchButton{
		width: 22px;
		height: 24px;
		font-size: 13px;
		float: right;
		position: relative;
	}
	.Header-Top-Search-In-SearchButton i{
		position: absolute;
		top: 5px;
		left: 5px;
	}
	.Header-Top-Hotline{
		width: 300px;
		height: 100%;
		float: right;
		border-left: 1px solid black;
		position: relative;
	}
	.Header-Top-Hotline-Text{
		float: right;
		position: absolute;
		top: 27px;
		left: 36px;
		font-size: 16px;
		color: white;
		text-decoration: none;
		transition: .3s;
	}
	.Header-Top-Hotline-Text:hover{
		color: #001a87;
		transition: .3s;
	}
	.Header-Top-Contach{
		width: 300px;
		height: 100%;
		float: right;
		border-left: 1px solid black;
		position: relative;
	}
	.Header-Top-Hotline-Contach{
		float: right;
		position: absolute;
		top: 27px;
		left: 23px;
		font-size: 16px;
		color: white;
		text-decoration: none;
		transition: .3s;
	}
	.Header-Top-Hotline-Contach:hover{
		color: #001a87;
		transition: .3s;
	}
	.Header-Nav{
		width: 100%;
		height: 50px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	.Header-Nav-In{
		margin: auto;
		width: 1040px;
		height: 50px;
	}
	.Header-Nav ul{
		margin: 0px;
		padding: 0px;
		list-style-type: none;
	}
	.Header-Nav ul li{
		float: left;
	}
	.Header-Nav ul li:hover{
		background-color: #334bf8;
		transition: .3s;
	}
	.Header-Nav ul li:hover a{
		color: white;
		transition: .3s;
	}
	.Header-Nav ul li a{
		padding-top: 15px;
		display: block;
		height: 35px;
		margin: 0 10px;
		text-decoration: none;
		color: #334bf8;
		transition: .3s;
	}
	.Body{
		width: 100%;
		height: 5000px;
	}
	.Body-ImageMain{
		width: 1350px;
		margin: auto;
	}
	.Body-ImageMain img{
		width: 100%;
		border-bottom: 5px solid #334bf8;
	}
	.Body-Main{

	}
	.Body-Main-PageName{
		width: 1350px;
		margin: auto;
		color: black;
	}
	.Body-Main-PageName span{
		display: block;
		margin-left: 5px;
		height: 20px;
		font-size: 20px;
		margin-top: 10px;
		color: black;
	}
	.Body-Main-NewTour{
		margin: 10px auto;
		width: 1350px;
		height: 400px;
		border-bottom: 5px solid #334bf8;
	}
	.Body-Main-NewTour-Title{
		width: 100%;
		height: 50px;
	}
	.Body-Main-NewTour-Title a{
		font-size: 30px;
		color: black;
		margin-left: 5px;
		text-decoration: none;
		transition: .3s;
	}
	.Body-Main-NewTour-Title a:hover{
		color: #001a87;
		transition: .3s;
	}
	.Body-Main-NewTour-In{
		width: 100%;
		height: 340px;
	}
	.Body-Main-NewTour-Card{
		position: relative;
		float: left;
		margin-left: 5px;
		margin-top: 5px;
		width: 330px;
		height: 330px;
	}
	.Body-Main-NewTour-Card img{
		position: absolute;
		width: 100%;
	}
	.Body-Main-NewTour-Card-Top{
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.0);
		transition: .5s;
	}
	.Body-Main-NewTour-Card-Top:hover{
		background-color: rgba(0, 0, 0, 0.8);
		transition: .5s;
	}
	.Body-Main-NewTour-Card-Title{
		position: absolute;
		top: 120px;
		left: 0px;
		font-size: 30px;
		color: white;
		transition: .5s;
    	opacity: 0;
	}
	.Body-Main-NewTour-Card-Pay{
		position: absolute;
		top: 180px;
		left: 0px;
		color: yellow;
		transition: .5s;
    	opacity: 0;
	}
	.Body-Main-NewTour-Card-More{
		position: absolute;
		top: 235px;
		left: 0px;
		font-size: 20px;
		text-decoration: none;
		color: white;
		transition: .5s;
    	opacity: 0;
	}
	.Body-Main-NewTour-Card-More:hover{
		color: #484bf2;
	}
	.Body-Main-NewTour-Card-Buy{
		position: absolute;
		overflow: hidden;
		top: 275px;
		left: 0px;
		width: 160px;
		height: 30px;
		transition: .5s;
    	opacity: 0;
    	border-radius: 15px;
		border: 1px solid #eaeaea;
	}
	.Body-Main-NewTour-Card-Buy-Button{
		position: absolute;
		top: 0;
		left: 0px;
		width: 30px;
		height: 30px;
		background-color: #eaeaea;
		transition: .3s;
    	opacity: 1;
    	border-radius: 15px;
	}
	.Body-Main-NewTour-Card-Buy-Button i{
		position: absolute;
		top: 7px;
		left: 5px;
		color: #dd0000;
	}
	.Body-Main-NewTour-Card-Buy-Button-In{
		position: absolute;
		width: 160px;
		height: 30px;
		left: -130px;
		text-align: center;
    	border-radius: 15px;
	}
	.Body-Main-NewTour-Card-Buy-Button-In a{
		display: block;
		margin-left: -15px;
		margin-top: 5px;
    	text-decoration: none;
    	color: white;
	}

	
	.Body-Main-NewTour-Card-Top:hover .Body-Main-NewTour-Card-Title{
		left: 80px;
		transition: .3s;
    	opacity: 1;
	}
	.Body-Main-NewTour-Card-Top:hover .Body-Main-NewTour-Card-Pay{
		left: 80px;
		transition: .3s;
    	opacity: 1;
	}
	.Body-Main-NewTour-Card-Top:hover .Body-Main-NewTour-Card-More{
		left: 80px;
		transition: .3s;
    	opacity: 1;
	}
	.Body-Main-NewTour-Card-Top:hover .Body-Main-NewTour-Card-Buy{
		left: 80px;
		transition: .3s;
    	opacity: 1;
	}
	.Body-Main-NewTour-Card-Buy:hover .Body-Main-NewTour-Card-Buy-Button{
		left: 130px;		
		transition: .3s;
	}
}